body {
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 15em auto 15em;
}

header {
    font-weight: 900; 
    background-color: #071d3b;
    color: #ffffff;
    padding: 16px; 
    font-size: 24px; 
    padding-left: 1em;
    padding-right: 1em; 
    grid-column-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

.links {
    
    margin-left: auto; 
    align-items: center;
}

.darkLink {
    color: #ffffff;
}

.headerLinks {
    font-weight: 400;
    text-decoration: none;
    color: #F9FAF8;
    font-size: 16px;
    margin-right: 16px; 
}

h1 {
  
    
    margin: 1em;
}

.intro {
    margin-left: 2em;
}

.darkBackground {
    background-color: #071d3b;
    color: #ffffff;
    padding: 12px; 
    
}

.insideDarkBackground {
    
}


.friedRice {
    width: 500px;
    height: 400px;
}



.lightBackground {
    padding: 12px; 
    
}

.imageRow {
    
}

.imageRow img {
    max-height: 100%;
    max-width: auto;
    margin: 1em;
}
